{% extends "index.html" %}

{% block content %}

<div class="form-container">
  <div class="form">
    <span class="heading">Campus Ambassador Program</span>
    <span class="c1">Become a Campus Ambassador</span>

    <input class="input" type="text" placeholder="Phone Number" />
    <span class="c2">Join our ambassador program and get exclusive perks!</span>
    <div class="button-container">
      <div class="send-button">Become an Ambassador</div>
      <div class="reset-button-container">
        <div class="reset-button" id="reset-btn">Logout</div>
      </div>
    </div>
  </div>
</div>



{% endblock %}


