{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-claim d-flex justify-content-center">
    
    <div class="card shadow-sm" style="width: 60%;">
      
      <div class="card-body p-4">
        <h2 class="mb-4 text-center">Claim Today with IDFinder<sup style="font-size: 0.3em; top: -1.9em; position: relative;">KE</sup></h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-3 w-100">Submit Claim</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
