{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-report">
    <div class="left-part">
      <!-- Left content here -->
      <h2>Report A Lost ID</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi recusandae iure aperiam, ut eveniet repellat? Animi voluptatibus nesciunt rerum est saepe perferendis, illum pariatur vero odit nisi, aliquid cumque molestiae.</p>
    </div>
    <div class="right-part">
      <!-- Right content here -->

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">{{ form.full_name|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.id_number|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form.document_type|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.lost_location|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form.latitude|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.longitude|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form.contact_email|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.found_by|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-12">{{ form.scanned_image|as_crispy_field }}</div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <button type="submit" class="btn btn-success">Submit Report</button>
          <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
